body{
  background-color: #fafafa;
}
#header{
  background-color: #A52A2A;
}
#site-title{
  color: #fff;
  margin: 0px;
  padding: 10px;
}
#site-title small{
  color: #ccc;
}
#navigation{
  margin: 5px;
  border-radius: 0px;
}
#navigation.navbar-inverse{
  background-image: none;
  background-color: #A52A2A;
  border: none;
}
#navigation.navbar-inverse a:link, #navigation.navbar-inverse a:visited{
  color: #ddd;
}
#navigation.navbar-inverse a:hover, #navigation.navbar-inverse a:active{
  color: #fff;
}
#content{
  min-height: 600px;
}
#footer{
  border-top: solid 1px #888;
  padding: 10px;
  background-color: #ccc;
}
