<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - Tele-Office</title>
    
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        @*<style>
            .modal-header, .close {
                background-color: #5cb85c;
                color: white !important;
                text-align: center;
                font-size: 30px;
            }

            .modal-footer {
                background-color: #f9f9f9;
            }
        </style>*@
    
    <link rel="stylesheet"  href="~/css/bootstrap-theme.css">
    <link rel="stylesheet"  href="~/css/bootstrap.css">
    <link rel="stylesheet"  href="~/css/main.css">
</head>
<body>

       <div id="header" class="container-fluid">
        <!-- This will expand to full screen width -->
        <div class="row">
            <div class="col-sm-5">
                <h1 id="site-title">Tele-Office <small>by GCOEA</small></h1>
            </div>
            <div class="col-sm-7">
                <div id="navigation" class="navbar navbar-inverse">
                    @*<div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">*@
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a asp-controller="Home" asp-action="Index"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                            <li><a asp-controller="Home" asp-action="About"><span class="glyphicon glyphicon-th-list"></span> About Us</a></li>
                            <li><a asp-controller="Home" asp-action="Feedback"><span class="glyphicon glyphicon-pencil"></span> Feedback</a></li>

                            @await Html.PartialAsync("_LoginPartial")
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div><!-- #header -->
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2016 - Teleoffice</p>
        </footer>
    </div>

        <script>
            $(document).ready(function () {
                //Code to do ajax request to notification controller. It will mark notification read
                //Remove the element then from dom
                $('.notification-read').click(function (event) {  //notification-read: notification index btn
                    event.preventDefault();
                    var elem = $(this);
                    $.get($(this).attr('href'), function (data, status) {
                        if (status == "success") {
                            elem.closest('.notification-li').remove();     //notification-li: notification index li element
                        }
                        else {
                            alert("Server responded with "+status);
                        }
                    });
                });
                //Next code
            });
        </script>

        @RenderSection("scripts", required: false)

   
    </body>
</html>
