@{
    ViewData["Title"] = "Home";
}
    <div class="container">
        <div class="row">
            <div id="content" class="col-sm-8">
            <br>
                <h3>Welcome</h3>
                <p>
                    <br>
                    Tele Office is a generic application which provides users the facility
                    to communicate with the organizations.
                    The organizations that work on two-tier architecture,
                    i.e. a user/client that requests a service and a professional/lead
                    that fulfills the requested service.
                    The user can be any naive person, where as the professional lead
                    could be a doctor,lawyer or the inspector, depending upon the application field chosen.
                    The communication is provided using the online video calling by implementing webRTC. No plugins are required.
                    To avail the benefits, register into the application. You will then be the client.
                    Then you can request to book an appointment with the professional by choosing the preferred date adn time.
                    The professional might accept or decline your request.
                    on the scheduled day-time, you can then be on the call with him and place your problems.
                    The bill would be generated depending upon the time you were in the call.

                </p>
                <p>
                    The communication is provided using the online video calling by implementing webRTC. No plugins are required.
                    To avail the benefits, register into the application. You will then be the client.
                    Then you can request to book an appointment with the professional by choosing the preferred date adn time.
                    The professional might accept or decline your request.
                    on the scheduled day-time, you can then be on the call with him and place your problems.
                    The bill would be generated depending upon the time you were in the call.
                </p>
                
                <br>
                <h4>Our process</h4>
                <p class="text-center"><img src="images/sample.png"></p>
            </div> <!-- #content -->

           

            @await Html.PartialAsync("_Sidebar");
        </div>
    </div>
    
